<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Statuts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Liste des statuts :</h1>
    <div>
        <table border="1">
            <tr>
                <th>id</th>
                <th>Nom du Statut</th>
                <th sec:authorize="hasRole('ADMIN')">Editer</th>
                <th sec:authorize="hasRole('ADMIN')">Supprimer</th>
            </tr>
            <tr th:each="statut:${statutList}">
                <td th:text="${statut.id}"></td>
                <td th:text="${statut.nomStatut}"></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/updateStatut/{id}(id=${statut.id})}">Edit</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/deleteStatut/{id}(id=${statut.id})}">Delete</a></td>
            </tr>
        </table>
    </div>

    <a th:href="@{/index}">Retour à l'index</a>
    <div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/createStatut}">Création d'un nouveau statut</a>
    </div>


</body>
</html>