h1 {
    color:#8B265C;
}

h2 {
    color:#5C8B26;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

.error{
    color:red;
}

header {
    height: 130px;
    background-color: #265C8B;
    color: #E7E7E7;
    font-weight: bold;
}

footer {
    height: 120px;
    background-color: #265C8B;
    color: white;
}

.gras{
    font-weight: bolder;
    font-size: 1.1em;
}

#floatright {
    float: right;
}