<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page formulaire création produit en stock">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/610665bae1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Formulaire création produit en stock</title>
</head>

<body class="container">

    <!-- ------------------------    HEADER    ---------------------------- -->

    <div th:replace="Fragments/header :: header"></div>

    <!--  --------------------    MAIN DE LA PAGE     -------------------  -->

    <div class="row">
        <a class="btn btn-outline-secondary" th:href="@{/index}" role="button"><i class="fas fa-home"></i>  Retour au Tableau de Bord</a>
    </div>


    <br>
    <br>


    <div class="row">
            <h1>Ajout d'un Produit en Stock</h1>
            <br>
            <form th:action="@{/saveStock}"
                  th:object="${aStock}" method="POST">
                <div class="form-group">
                    <label class="form-label">Produit à ajouter en stock :</label>
                    <select th:field="*{produitId}" class="form-select">
                        <option th:each="produit : *{listProduit}"
                                    th:value="${produit.id}"
                                    th:text="${produit.nomProduit}"/>
                    </select>
                    <br>
                </div>
                <br>
                <input type="submit" value="Submit" />
                <a class="backbutton" th:href="@{/readStock}" role="button"><i class="fas fa-home"></i> Retour </a>
            </form>
       </div>

    <br>
    <br>



    <!-- ------------------------    FOOTER    ---------------------------- -->

    <div th:replace="Fragments/footer :: footer"></div>



</body>
</html>