<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire création produit en stock</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="container">
        <h1>Ajout d'un Produit en Stock</h1>


        <form th:action="@{/saveStock}"
              th:object="${aStock}" method="POST">
            <div class="form-group">
                <label>Produit à ajouter en stock :</label>
                <select th:field="*{produitId}">
                    <option th:each="produit : *{listProduit}"
                                th:value="${produit.id}"
                                th:text="${produit.nomProduit}"/>
                </select>
                <br/>
            </div>
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
        </form>
   </div>
</body>
</html>