<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historique du stock</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Historique du stock :</h1>
<form th:action="@{/readHistoriqueStock}"
      th:object="${dateStock}" method="POST">
    <div class="form-group">
        <label>Historique du Stock</label>
        <input type="date" th:field="*{date}" />
        <span class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
        <br/>
    </div>
    <input type="submit" value="Submit" />
</form>
<div>
    <table border="1">
        <tr>
            <th>id Produit</th>
            <th>Nom du Produit</th>
            <th>Catégorie du produit</th>
            <th>Date du mouvement</th>
            <th>Statut</th>
            <th>Utilisateur</th>
        </tr>
        <tr th:each="stock:${historiqueList}">
            <td th:text="${stock.idProduit}"></td>
            <td th:text="${stock.nomProduit}"></td>
            <td th:text="${stock.categorie}"></td>
            <td th:text="${stock.dateMouvement}"></td>
            <td th:text="${stock.statut}"></td>
            <td th:text="${stock.utilisateur}"></td>
        </tr>
    </table>
</div>

<a th:href="@{/index}">Retour à l'index</a>



</body>
