<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire mise à jour stock</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Mise à jour de :</h1>

    <form th:action="@{/updateStock}"
          th:object="${aStock}" method="POST">
        <div class="form-group">
            <input type="hidden" th:field="*{id}" />
            <span class="error" th:if="${#fields.hasErrors('id')}">Erreur sur l'id</span>
            <br/>
        </div>
        <div class="form-group">
            <label th:text="*{nomProduit}"></label>
            <input type="hidden" th:field="*{nomProduit}" />
            <span class="error" th:if="${#fields.hasErrors('nomProduit')}">Erreur sur le nom</span>
            <br/>
        </div>
        <div class="form-group">
            <label>Statut</label>
            <select th:field="*{statut}">
                <option th:value="'Retiré'">Produit contrôlé et retiré</option>
                <option th:value="'Erreur'">Erreur sur le produit -> rebus</option>
                <option th:value="'Consommé'">Produit consommé</option>
            </select>
            <br/>
        </div>

        <input type="submit" value="Update Stock" />
        <input type="reset" value="Reset" />
    </form>
</div>

</body>
</html>
