<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guillaume Rabiller" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page A Propos pour l'application TPR - Traçage Produits Restaurant">

    <!-- CSS + Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>A Propos - Tracer restaurant</title>
</head>

<body class="container no-padding">

    <!-- ------------------------    HEADER    ---------------------------- -->

    <div th:replace="Fragments/header :: header"></div>



    <!--  --------------------    MAIN DE LA PAGE     -------------------  -->


    <div class="row">
        <a class="btn btn-outline-secondary" th:href="@{/index}" role="button"><i class="fas fa-home"></i> Retour au Tableau de Bord</a>
    </div>

    <div>
        <p> Auteur : Guillaume Rabiller
            <br>
            Date de réalisation : Nov 2020 -> Mars 2021
            <br>
            Projet CNAM UE NFA036 - Projet
            <br>
            Objectif du Projet : réalisation d'un logiciel de traçage de produits dans un restaurant.


        </p>


    </div>






    <!-- ------------------------    FOOTER    ---------------------------- -->

    <div th:replace="Fragments/footer :: footer"></div>





</body>
</html>